<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to photograph chemical labels.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app records your location when photographing chemical labels.</string>
</dict>
</plist>
